In [1]:
import os

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [13]:
file_location = "../NAPLab-LiDAR"
old_label_path = os.path.join(file_location, "old_labels")
new_label_path = os.path.join(file_location, "new_labels")

In [9]:
files = os.listdir(old_label_path)
col_labels = ['classID', 'x', 'y', 'width', 'height']
dataset_boxes : pd.DataFrame = pd.concat([
    pd.read_csv(os.path.join(old_label_path, filename),
        sep=' ',
        names=col_labels)
    .reindex(['frame', *col_labels], axis='columns')
    .assign(frame=filename)
    for filename in files
], ignore_index=True)
dataset_boxes.classID

0        0
1        0
2        0
3        6
4        6
        ..
23564    6
23565    6
23566    6
23567    6
23568    6
Name: classID, Length: 23569, dtype: int64

In [10]:
tmp = dataset_boxes.copy(deep=True)
tmp['classID'] = dataset_boxes['classID'].apply(lambda c: c if c < 3 else c-1 )

In [11]:
(tmp.classID - dataset_boxes.classID).value_counts()

classID
-1    12013
 0    11556
Name: count, dtype: int64

In [12]:
g =  tmp.groupby('frame')
for name, group in g:
    group.drop(columns='frame').to_csv(os.path.join(new_label_path, name), sep=' ', header=None, index=False)